<div class="wrapper">
  <h1>
    <%= @product.name %>
  </h1>
  <div id="product-show">
    <p class="col-xs-12 col-sm-6 col-md-4 thumbnail">
      <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_images: @product.image_url) %>
    </p>
    <p class="col-xs-12 col-sm-6 col-md-8">
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p class="col-xs-12 col-sm-6 col-md-8 lead">
      <strong>Price</strong>
      <mark>
        <span class="glyphicon glyphicon-usd"></span><%= @product.price %>/<%= @product.uom %>
      </mark>
    </p>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>
    <p class="col-xs-12 col-sm-6 col-md-8">
      Average Rating:
    </p>
    <div class="col-xs-12 col-sm-6 col-md-8 rated" data-score="<%= @product.average_rating %>" id="average-rating">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8" style="margin-top:20px;">
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>
    </div>
  </div>
  <div id="product-comment">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render 'new_comment' %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <%= render 'comments' %>
    </div>
  </div>
</div>
